.audio-container_1 {
  display: flex;
  align-items: center;
  gap: 8px;
  background:transparent;
  padding: 6px 10px;
  border-radius: 18px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.play-btn {
  background: #00a884;
  border: none;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.progress-bar {
  flex: 1;
  cursor: pointer;
  min-width: 0;
}

.time {
  color: white;
  font-size: 12px;
}

/* audio uploader */

.audio_upload_preview{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.audio_preview_delete{
  cursor: pointer;
  border: None;
  border-radius: 50%;
  background-color: #dedede;
  width: 30px;
  height: 30px;
}